/*--------------------------------------------------
 *   Chat window
 *--------------------------------------------------*/

.chats-list {
    overflow-x: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: calc(100% - 180px);
    white-space: nowrap;
    z-index: 100;
}

.chat-wrapper {
    display: inline-block;
    border: 1px solid black;
    width: 300px;
    white-space: normal;
    border-top-left-radius: 10px;
    border-top: none;
    margin-left: 5px;
}

    .chat-wrapper .chat-header {
        height: 20px;
        padding: 5px;
        border-top-left-radius: 9px;
        border-bottom: 1px solid black;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
        background: #b5bdc8; /* Old browsers */
        background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
    }

        .chat-wrapper .chat-header > button{
            margin-left: 10px;
        }

        .chat-wrapper .chat-header .close-icon{
            float: right;
            color: red;
            font-weight: bolder;
        }

    .chat-wrapper .chat-messages{
        height: 300px;
        width: 100%;
        background-color: #333;
        color: #fff;
        box-sizing: border-box;
        overflow: auto;
    }

        .chat-wrapper .chat-messages .chat-message {
            margin-bottom: 5px;
        }

        .chat-wrapper .chat-messages .chat-message > div {
            display: inline-block;
            width: calc(100% - 40px);
        }

        .chat-wrapper .chat-messages .chat-message .chat-message-icon{
            max-height: 30px;
            max-width: 30px;
        }
        
        .chat-wrapper .chat-messages .chat-message .chat-message-time {
            text-align: right;
            font-size: 12px;
        }

        .chat-wrapper .chat-messages .chat-message .chat-message-content {
            background-color: #555;
            padding:5px;
            border-radius: 5px;
            margin: 2px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
            border-bottom-left-radius: 0;
        }

        .chat-wrapper .chat-messages .chat-message.local-chat-message .chat-message-content{
            border-bottom-left-radius: 5px;            
            border-bottom-right-radius: 0;
        }


    .chat-wrapper .chat-input-wrapper{
        padding: 1px 3px;
        background-color: #333;
    }

    .chat-wrapper .chat-input{
        height: 50px;
        box-sizing: border-box;
        resize: none;
        width: 100%;
    }

/*--------------------------------------------------
 *   Users List
 *--------------------------------------------------*/

.users-list{
    border: 1px solid black;
    position: fixed;
    width: 180px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #333;
}

    .users-list .user-info {
        margin: 2px;
        border-radius: 3px;
        background-color: #555;
    }

        .users-list .user-info > span{
            margin: 3px;
            display: inline-block;
            vertical-align: top;
            width: 135px;
            font-size: 18px;
        }

        .users-list .user-info > img {
            margin-bottom: -2px;
            margin-top: 2px;
        }

/*--------------------------------------------------
 *   Video
 *--------------------------------------------------*/

.video-wrapper {
    border: 1px solid crimson;
    position: relative;
    width: calc(100% - 180px);
    max-height: 600px;
    background-color: #666;
}

    .video-wrapper .local-video{
        position: absolute;
        left: 10px;
        top: 10px;
        max-width: 150px;
        max-height: 120px;
    }

    .video-wrapper .remote-video{
        margin: auto;
        display: block;
        max-width: 95%;
        max-height: 100%;
    }

    .video-wrapper .video-control{
        height: 30px;
        background-color: #555;
        width: 100%;
        position: absolute;
        bottom: 0;
        opacity: 0.01;
        transition: opacity 0.5s ease-in-out;
        text-align: center;
    }

        .video-wrapper:hover .video-control{
            opacity: 0.8;
        }

        .video-wrapper .video-control > button{
            height: 26px;
            margin: 2px;
        }

.video-wrapper.mini{
    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 400px;
    max-height: 300px;
    width: auto;
}

    .video-wrapper.mini .local-video{
        max-width: 50px;
        max-height: 40px;
    }

.video-wrapper.full-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9000;
    border: none;
}

/*--------------------------------------------------
 *   Common styles
 *--------------------------------------------------*/

.btn-dark {
    border-radius: 2px;
    border-color: darkred;
    background-color: #111;
    color: #fff;
}

.user-icon {
    max-height: 25px;
    max-width: 25px;
    border: 1px solid black;
    border-radius: 6px;
}

.ellipsis {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-dark{
    border: none;
    background-color: #666;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}
   
/*--------------------------------------------------
 *   Authorize styles
 *--------------------------------------------------*/

.login-wrapper{
    width: 300px;
    margin: auto;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

    .login-wrapper h2{
        text-align: center;
    }

    .login-wrapper label{
        display: block;
        margin-bottom: 10px;
    }

        .login-wrapper label .label-text{
            text-align: right;
            display: inline-block;
            width: 40%;
            padding: 5px;
            box-sizing: border-box;
        }

        .login-wrapper label input{
            width: 60%;
            box-sizing: border-box;
        }

    .login-wrapper .action-wrapper {
        text-align: right;
    }
    
        .login-wrapper .action-wrapper button {
            font-weight: bolder;
            font-size: 14px;
        }
